{% load static %}

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Home | Bookshop Responsive Bootstrap4 Template</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="Django Ecommerce" name="description" />
<meta content="Djecommerce" name="author" />

<!-- Favicons -->
<link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
<link rel="apple-touch-icon" href="{% static 'assets/images/icon.png' %}">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,600i,700,700i,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

<link href="{% static 'assets/fonts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/style.css' %}?v=1.111" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css" />

<script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>